# Longer-running tests that are only executed on merged code.
# These are run with oldest supported versions of the dependencies.

name: Integration Tests

on:
  push:
    branches: [ master ]

jobs:
  build:

    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ ubuntu-16.04, windows-2016 ]

    steps:
      - name: Check out code
        uses: actions/checkout@v2

      - name: Set up Python 3.7
        uses: actions/setup-python@v1
        with:
          python-version: 3.7

      - name: Install dependencies with custom versions
        # Note: This must be kept in sync with the minimum versions in setup.py
        run: |
          pip install numpy==1.17.5 scipy==1.4 pytest~=5.4
          pip install --no-deps -e .

      - name: Run integration tests (without pandas)
        run: |
          python -m pytest tests/integration/

      - name: Install pandas
        run: |
          pip install pandas==1.0

      - name: Run integration tests (with pandas)
        run: |
          python -m pytest tests/pandas/

